<form class="form-inline">
    <div class="form-group mb-2">
          <select #school type="text" readonly class="form-control-plaintext" id="staticEmail2">
              <option value="">Select school</option>
              <option value="Abjuration">Abjuration</option>
              <option value="Evocation">Evocation</option>
              <option value="Transmutation">Transmutation</option>
              <option value="Illusion">Illusion</option>
              <option value="Conjuration">Conjuration</option>
          </select>
        </div>
    <div class="form-group mb-2">
          <select class="form-control-plaintext" #level  id="inputPassword2" value=0>
            <option value="">Level</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
          </select>
        </div>
        <div class="form-group mb-2">
          <select class="form-control-plaintext" #class id="alignment">
              <option value="">Class</option>
              <option value="Ranger">Ranger</option>
              <option value="Wizard">Wizard</option>
              <option value="Warlock">Warlock</option>
              <option value="Druid">Druid</option>
              <option value="Paladin">Paladin</option>
              <option value="Sorcerer">Sorcerer</option>
          </select>
        </div>
      <button (click)="filterSpells(level.value, school.value, class.value)" type="button" class="btn btn-primary mb-2">Apply Filters</button>
  </form>
  <div class="container">
      <div *ngFor="let i of getIndexes();">
              <div *ngIf="i%3 == 0">
                  <div *ngIf="filtered[i]" class="row">
                      <div class="col-sm">
                          <spell-panel [spell]="filtered[i]"></spell-panel>
                      </div>
                      <div *ngIf="filtered[i+1]" class="col-sm">
                          <spell-panel [spell]="filtered[i+1]"></spell-panel>
                      </div>
                      <div *ngIf="filtered[i+2]" class="col-sm">
                          <spell-panel [spell]="filtered[i+2]"></spell-panel>
                      </div>
                  </div> 
              </div>
          </div>
      </div>
    
  