<a routerLink="/monsterView/{{ monster['id'] }}">
    <div class="container border">
        <div class="row">
        <div class="col">
            Name: {{  monster['name'] }}
        </div>
        <div class="col">
            CR: {{ monster['cr']}}
        </div>
        </div>
        <div class="row">
        <div class="col">
            Alignment: {{ monster['alignment'] }}
        </div>
        <div class="col">
            Max Health: {{ monster['hit_points'] }}
        </div>
        <div class="col">
            Type: {{ monster['type'] }}
        </div>
        </div>
    </div>
</a>