<h1>name: {{ monster['name'] }} <br/>CR: {{ monster['cr'] }}</h1>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
        Add to encounter
      </button>
      <div class="container">
        <div class="row">
            <div class="col">
                <h2>
                Max HP: {{ monster.hit_points }}
                </h2>
            </div>
    <div class="col-sm">
          <div class="container">
              <div *ngFor="let i of getIndex('speed'); let j = index">
                  <div  class="row">
                      <h2 *ngIf="j === 0">Speeds:</h2>
                      <h4>
                          <div class="col-sm">
                              {{ monster['speed'][j] }}
                          </div>
                          <div class="col-sm" *ngIf="monster['speed'][j+1]">
                              {{ monster['speed'][j+1] }}
                          </div>
                      </h4>
                  </div>
              </div>
          </div>
    </div>
    <div class="col-sm">
      <div *ngFor="let i of getIndex('skills'); let j = index">
              <div  class="row">
                  <h2 *ngIf="j === 0">skills:</h2>
                  <h4>
                      <div class="col-sm">
                          {{ monster['skills'][j]['name'] }}: {{ monster['skills'][j]['bonus'] }}
                      </div>
                      <div class="col-sm" *ngIf="monster['skills'][j+1]">
                              {{ monster['skills'][j + 1]['name'] }}: {{ monster['skills'][j + 1]['bonus'] }}
                      </div>
                  </h4>
              </div>
          </div>
        </div> 
    </div>
    <div class="row">
      <h2>
          <div class="col-sm">
              Alignment: {{ monster['alignment'] }}
              <br>
              AC: {{ monster['armor_class'] }}
          </div>
      </h2>
      <h2>
          <div class="col-sm">
              Size: {{ monster['size'] }}
              <br>
              Type: {{ monster['type'] }}
          </div>
      </h2>
      <div class="col-sm">
        <div *ngFor="let i of getIndex('damage_resistances'); let j = index">
                <div  class="row">
                    <h2 *ngIf="j === 0">Damage Resistances:</h2>
                    <h4>
                        <div class="col-sm">
                            {{ monster['damage_resistances'][i] }}
                        </div>
                        <div class="col-sm" *ngIf="monster['damage_resistances'][i+1]">
                            {{ monster['damage_resistances'][i+1] }}
                        </div>
                    </h4>
                </div>
            </div>
          </div> 
          <div class="col-sm">
                <div *ngFor="let i of getIndex('condition_immunities'); let j = index">
                        <div  class="row">
                            <h2 *ngIf="j === 0">Condition Immunities:</h2>
                            <h4>
                                <div class="col-sm">
                                    {{ monster['condition_immunities'][i] }}
                                </div>
                                <div class="col-sm" *ngIf="monster['condition_immunities'][i+1]">
                                    {{ monster['condition_immunities'][i+1] }}
                                </div>
                            </h4>
                        </div>
                    </div>
                  </div> 
    </div>
          <div class="row">
          <div class="col-sm">
            <div *ngFor="let i of getIndex('damage_immunities'); let j = index">
                    <div  class="row">
                        <h2 *ngIf="j === 0"> Damage Immunities:</h2>
                        <h4>
                            <div class="col-sm">
                                {{ monster['damage_immunities'][i] }}
                            </div>
                            <div class="col-sm" *ngIf="monster['damage_immunities'][i+1]">
                                {{ monster['damage_immunities'][i+1] }}
                            </div>
                        </h4>
                    </div>
                </div>
              </div> 
              <div class="col-sm">
                    <div *ngFor="let i of getIndex('damage_vulnerabilities'); let j = index">
                            <div  class="row">
                                <h2 *ngIf="j === 0"> Damage Vulnerabilities:</h2>
                                <h4>
                                    <div class="col-sm">
                                        {{ monster['damage_vulnerabilities'][i] }}
                                    </div>
                                    <div class="col-sm" *ngIf="monster['damage_vulnerabilities'][i+1]">
                                        {{ monster['damage_vulnerabilities'][i+1] }}
                                    </div>
                                </h4>
                            </div>
                        </div>
                      </div> 
            </div>
            <div class="row">
                    <div class="col-sm">
                            <div *ngFor="let i of getIndex('senses'); let j = index">
                                    <div  class="row">
                                        <h2 *ngIf="j === 0">Senses:</h2>
                                        <h4>
                                            <div class="col-sm">
                                                {{ monster['senses'][i] }}
                                            </div>
                                            <div class="col-sm" *ngIf="monster['senses'][i+1]">
                                                {{ monster['senses'][i+1] }}
                                            </div>
                                        </h4>
                                    </div>
                                </div>
                              </div> 
                              <div class="col-sm">
                              <div *ngFor="let i of getIndex('languages'); let j = index">
                                      <div  class="row">
                                          <h2 *ngIf="j === 0">Languages:</h2>
                                          <h4>
                                              <div class="col-sm">
                                                  {{ monster['languages'][i] }}
                                              </div>
                                              <div class="col-sm" *ngIf="monster['languages'][i+1]">
                                                  {{ monster['languages'][i+1] }}
                                              </div>
                                          </h4>
                                      </div>
                                  </div>
                                </div> 
            </div>
            <div class="row">
                    <div class="col-sm">
                            <div *ngFor="let i of getIndex('saves'); let j = index">
                                        <h2 *ngIf="j === 0">Saving Throws:</h2>
                                        <h4>
                                            <div class="col-sm">
                                                {{ monster['saves'][i]['name'] }}: {{ monster['saves'][i+1]['bonus'] }}
                                            </div>
                                            <div class="col-sm" *ngIf="monster['saves'][i+1]">
                                                {{ monster['saves'][i+1]['name'] }}: {{ monster['saves'][i+1]['bonus'] }}
                                            </div>
                                        </h4>
                                </div>
                              </div> 
                    <div class="col-sm">
                        <h2>Ability Scores</h2>
                        <h4>
                            <div>Strength: {{ monster["strength"] }}: {{ calcMod(monster["strength"]) }}</div>
                            <div>Dexterity: {{ monster["dexterity"] }}: {{ calcMod(monster["dexterity"]) }}</div>
                            <div>Constitution: {{ monster["constitution"] }}: {{ calcMod(monster["constitution"]) }}</div>
                            <div>Intelligence: {{ monster["intelligence"] }}: {{ calcMod(monster["intelligence"]) }}</div>
                            <div>Wisdom: {{ monster["wisdom"] }}: {{ calcMod(monster["wisdom"]) }}</div>
                            <div>Charisma: {{ monster["charisma"] }}: {{ calcMod(monster["charisma"]) }}</div>
                        </h4>
                    </div>
            </div>
    
    <hr>
      <div>
          <h2>Actions</h2>
          <div *ngFor="let action of monster['actions'] ; let j = index">
                  <h4>
                      <div class="row">
                          <div class="col-m">
                                  {{ action['name'] }}
                                  <br>
                                  Attack Bonus: {{ action['attackBonus'] }}
                                  <br>
                                  Description: {{  action['desc'] }}
                          </div>
                      </div>
                  </h4>
                  <hr>
              </div>
            </div>
            <hr>
      <div>
          <h2>Special Abilities</h2>
          <div *ngFor="let action of monster['special_abilities'] ; let j = index">
                  <h4>
                      <div class="row">
                          <div class="col-m">
                                  {{ action['name'] }}
                                  <br>
                                  Attack Bonus: {{ action['attackBonus'] }}
                                  <br>
                                  Description: {{  action['desc'] }}
                          </div>
                      </div>
                  </h4>
                  <hr>
              </div>
            </div>
            <div>
            <h2>Legendary Actions</h2>
            <div *ngFor="let action of monster['legendary_actions'] ; let j = index">
                    <h4>
                        <div class="row">
                            <div class="col-m">
                                    {{ action['name'] }}
                                    <br>
                                    Attack Bonus: {{ action['attackBonus'] }}
                                    <br>
                                    Description: {{  action['desc'] }}
                            </div>
                        </div>
                    </h4>
                    <hr>
                </div>
              </div>
    </div>
    
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Encounters</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div *ngFor="let name of getEncounternames(); index as i">
                <label for="num{{ i }}">Amount</label>
                <input value="1" #amount id="num{{ i }}" type = "number">
                <h2>{{ name }}: <button class="btn btn-primary" (click)="addMonster(i, amount.value)">Add</button></h2>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
