<div class="center panel panel-default">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="center">{{ spell['name'] }}</h2>
        </div>
        <div class="panel-body">
           panel-body 
        </div>
    </div>
</div>


