<h2>Recent Updates</h2>
    <ul>
        <li>Can serach for monsters by name</li>
        <li>Can create encounters and add monsters to those encounters</li>
        <li>Change layout of the monster view to make it easier to read</li>
        <li>Can run the encounters and set the initiative of those encounters</li>
        <li>Encounters being run can keep track of the current turn</li>
    </ul>
    <h2>Notes</h2>
    <ul>
        <li>For custom monster Suggestion is to add an extra player and just keep the notes for them in front of you</li>
        <li>You can't currently see the full inititive so you'll have to keep track of that yourself</li>
    </ul>
